{% extends "layout.html" %}
{% block header_title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block style %}
<style type="text/css">
  table > thead > tr > th {
    transition: background-color .25s ease;
  }

  table > thead > tr > th:hover {
    background-color: #f2f2f2;
  }
</style>
{% endblock %}
{% block body %}
<div class="row">
<div class="col s12 m12 l12">
<ul class="collapsible popout" data-collapsible="expandable">
{% for table in entries %}
  <li>
    <div class="collapsible-header"><i class="material-icons">list</i>{{ table_names[loop.index-1] }}</div>
    <div class="collapsible-body">
      <table class="striped responsive-table myTable">
      {% for row in table %}
        {% if loop.index == 1 %}
        <thead>
          <tr>
          {% for key, value in row.items() %}
            <th>{{ key }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% endif %}

        <tr>
        {% for key, value in row.items() %}
          <td>{{ value }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}